venv/

*.pyc
__pycache__/

instance/

.pytest_cache/
.coverage
htmlcov/

dist/
build/
*.egg-info/

report.xml

.env
.env.local
.env.prod
.env.qa
.env.staging
.env.bak
.env*.bak
dump/

.vercel

node_modules

chalicelib/bin
chalicelib/include
chalicelib/lib
chalicelib/pyvenv.cfg
chalicelib/logs/api_general.log
chalicelib/var
chalicelib/src
.chalice/deployments/
.chalice/venv/
.chalice/deployed/
.chalice/config.json

# Editor
.vscode
.idea
.python-version
.chalice/deployment/deployment.zip
.chalice/deployment/sam.json
.chalice/policy-*.json

# SSL Certificates used by the API webserver
*.pem
*.crt
*.key

# Logs
gunicorn.access.log
gunicorn.error.log
logs/app_general.log

# Other files
scripts/aws_big_lambda/lambda-config-*.json
scripts/aws_big_lambda/template.yml
scripts/aws_big_lambda/samconfig.toml
scripts/dns/config/zones
scripts/dns/config/named-to-add.conf
scripts/secure_local_server/nginx.conf
scripts/secure_local_server/nginx.conf.tmp
scripts/vps/docker-compose.yml
scripts/vps/docker-compose.tmp.yml
scripts/dns/Dockerfile

response.json

tmp

localstack_requirements.txt
venv
